.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.center {
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}