.about {
    height: 90vh;
    display: flex;
}

.about-left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-left img {
    width: 40rem;
    height: 25rem;
    margin: auto;
    margin-left: 2.5rem;
}

.about-right {
    flex: 2;
    display: flex;
    justify-content: center;
}

.about-right-div {
    margin: auto 1rem;
}

.about-right-div-p-1 {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
}

.about-right-div-p-2 {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.about-right-div-p-3 {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}