.contact {
    display: flex;
    border: 2px solid saddlebrown;
    height: 90vh;
}

.contact-left {
    display: flex;
    flex: 1;
    justify-content: center;
    border: 2px solid orangered;
}

.contact-left-div {
    border: 2px solid royalblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-left-div img {
    width: 40rem;
    padding: 10px;
    border: 2px solid red;
}

.contact-left-div-p-1 {
    font-size: 2rem;
}

.contact-left-div-p-2 {
    font-size: 1.2rem;
}

.contact-right {
    flex: 1;
    display: flex;
    border: 2px solid salmon;
}

.contact-right-div {
    border: 2px dotted dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.contact-right-div p {
    margin: 1rem auto;
    font-size: 4rem;
}

.contact-right-div input {
    width: 25rem;
    height: 2rem;
    margin: 0.5rem 1rem;
    padding: 5px;
}

.contact-right-div button {
    width: 40%;
    margin: 1rem auto;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.contact-social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.contact-social img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}