.nav-bar {
    padding: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    margin-right: 5px;
    background-color: rgba(56, 9, 164, 255);
    color: white;
    top: 0;
    right: 0;
    left: 0;
}

.nav-left {
    display: flex;
    margin-right: 2rem;
    flex: 1;
    justify-content: center;
    font-family: 'Calligraffitti', cursive;
    ;
}

.nav-left p {
    font-size: 1rem;
}

/* 
    color: rgb(9, 135, 168);
*/


.nav-center {
    display: flex;
    margin-right: 1rem;
    flex: 2;
    justify-content: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-center p {
    margin: auto 10px;
    cursor: pointer;
}

.nav-center p a {
    text-decoration: none;
    color: black;
    color: white;
    transition: padding 1s;
    margin: 0px 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-center p a:hover {
    /* background-color: rgb(73, 77, 217); */
    background-color: white;
    color: rgba(135, 0, 98, 255);
    padding: 10px 1rem;
}

.nav-right {
    margin-right: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.nav-right button {
    /* background-color: rgb(73, 77, 217); */
    background-color: black;
    border: 0px;
    color: white;
    margin: 10px 0px;
    padding: 10px 1rem;
    border-radius: 1rem;
    cursor: pointer;
    /* box-shadow: 4px 4px 4px rgba(73, 77, 217, 0.8); */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    transition: background-color 1s;
}

.nav-right button a {
    text-decoration: none;
    color: white;
    padding: 10px 1rem;
}

.nav-right button:hover {
    opacity: 0.8;
    background-color: rgba(56, 9, 164, 255);
}