.skills {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-container-p-1 {
    font-size: 4rem;
}

.skills-container-p-2 {
    font-size: 1.2rem;
}

.skills-div-1 {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    border: 2px dotted red;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 10px;
}

.skills-container-img {
    width: 5rem;
    height: 5rem;
    margin: auto;
}

.container p {
    margin: auto;
    margin-top: 15px;
}