.about-page {
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.left-about {
    display: flex;
    flex: 1;
}

.left-about img {
    margin: auto;
    width: 60%;
}

.right-about {
    display: flex;
    flex: 1;
}

.right-about-all {
    margin: auto;
    padding: 1rem;
    line-height: 2rem;
}

.right-top-about {
    font-size: 2rem;
    text-decoration: underline;
    font-family: 'Ubuntu', sans-serif;
    margin: 4rem 1rem;
}

.about-para-1 {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 0rem 1rem;
}

.about-para-2 {
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin: 0rem 1rem;
}