.contact {
    height: 90vh;
}

.contact-intro {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.contact-intro-info {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 2rem;
}

.contact-message {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1.4rem;
}

.contact-main {
    display: flex;
    padding: 1rem;
}

.contact-left {
    display: flex;
    flex: 1;
    margin: 1rem;
    justify-content: center;
    flex-direction: column;
}

.contact-left-p-1 {
    margin: 1rem auto;
    font-family: 'Ubuntu';
    font-size: 2rem;
}

.contact-left-p-2 {
    margin: 1rem auto;
    font-family: 'Ubuntu';
    font-size: 1rem;
}

.left-div-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-img-1 {
    width: 30px;
    margin: 10px;
}

.contact-left-p-3 {
    font-size: 1.5rem;
    margin: 10px;
    font-family: 'Ubuntu';
}

.left-social {
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
}

.left-social-img {
    width: 2rem;
    margin: 1rem 20px;
    transition: opacity 1s;
    transition: padding 1s;
    transition: border 1s;
    transition: border-radius 1s;
}

.left-social-img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.contact-right {
    display: flex;
    flex: 1;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
}

.right-details {
    font-size: 2rem;
    font-family: 'Ubuntu';
    margin: 1rem;
}

.contact-name {
    height: 2rem;
    width: 50%;
    margin: 5px;
    color: blue;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0.5rem;
}

.save-btn {
    padding: 10px;
    margin: 1rem;
    border: 0px;
    border-radius: 0.4rem;
    width: 20%;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.fotter {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.fotter p {
    margin: auto;
}