.header {
    border: 2px solid gray;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid green;
}

.header-items {
    border: 1px dotted black;
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.header-space {
    display: flex;
    flex: 1;
}