.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid green;
}

.header-items {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    gap: 1rem;
}

.header-items p {
    font-size: 1.5rem;
    font-family: Roboto, Arial;
    color: rgb(0, 166, 255);
    transition: opacity 0.15s;
}

.header-items p:hover {
    cursor: pointer;
    opacity: 0.6;
}

.header-space {
    display: flex;
    flex: 1;
}