.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(194, 194, 194);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
}

.header-logo {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.header-logo p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: cursive;
}

.header-items {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    gap: 1rem;
}

.header-items p {
    font-size: 1.5rem;
    font-family: Roboto, Arial;
    color: rgb(0, 166, 255);
    transition: opacity 0.15s;
}

.header-items p:hover {
    cursor: pointer;
    opacity: 0.6;
}

.header-space {
    display: flex;
    flex: 1;
}