.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-container {
    display: flex;
    width: 20rem;
}

.p-container-1 {
    flex: 2;
}

.p-container-2 {
    flex: 1;
}

.btn-select {
    display: flex;
}

.stone-btn {
    background-color: dodgerblue;
    padding: 1rem 2rem;
    margin: 1rem;
    width: 10rem;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 99, 71, 0.8);
}

.stone-btn:hover {
    opacity: 0.8;
}

.paper-btn {
    padding: 1rem 2rem;
    margin: 1rem;
    width: 10rem;
    background-color: rebeccapurple;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 99, 71, 0.8);
}

.paper-btn:hover {
    opacity: 0.8;
}

.scissor-btn {
    padding: 1rem 2rem;
    margin: 1rem;
    width: 10rem;
    background-color: darkorange;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 99, 71, 0.8);
}

.scissor-btn:hover {
    opacity: 0.8;
}

.result {
    background-color: tomato;
    padding: 2rem 4rem;
    color: white;
    border-radius: 10px;
    font-size: 5rem;
    /* box-shadow: 5px 5px 5px rgba(255, 99, 71, 0.8); */
    box-shadow: 5px 5px 5px rgba(0, 99, 71, 0.8);
}